<div style="margin:2em;">
    <details>
        <summary>APPEARANCE: FOUR MEANINGS OF “PHENOMENON”<span style="color:magenta;" title="This subsection is often strongly paraphrased in order to bring out Heidegger’s meaning.">◊</span></summary>
    <table frame="box">
        <tr>
            <td style="text-align:center;padding-top:1em;">
                <b>
                    FOUR SENSES OF “PHENOMENON”<br />
                    AS<br />
                    SOMETHING THAT APPEARS TO US
                </b>
            </td>
        </tr>
        <tr>
            <td style="padding-left:3em;padding-top:1em;text-indent:-2em;">
                <b>APPEARANCE-1:</b> <i>das Sichzeigende; Phänomen: das Offenbare</i><br />
                a genuine appearance, the proper sense of “phenomenon”: a thing appears as it actually is.
            </td>
        </tr>
        <tr>
            <td style="padding-left:3em;padding-top:1em;text-indent:-2em;">
                <b>APPEARANCE-2:</b> <i>der Schein; Scheinen</i><br />
                a specious appearance; a semblance: a thing that, in appearing, hides a genuine phenomenon by <i>merely
                looking like it</i> and thus appearing as <i>what it is not</i>
            </td>
        </tr>
        <tr>
            <td style="padding-left:3em;padding-top:1em;text-indent:-2em;">
                <b>APPEARANCE-3:</b> <i>die Erscheinung: das Meidende</i><br />
                something that is “only” an appearance, i.e., a “surface” appearance. something
                (e.g., a fever) <i>does</i> appear, but is “only” and appearance insofar as it actually
                indicates <i>something else</i> (e.g., an underlying disease), which does no show up
                directly but only indirectly through the surface appearance. For example:
                <div style="margin-left:4em;">
                    • a symptom (e.g., a fever, a rash), through which a disease manifests itself
                </div>
                <div style="margin-left:4em;">
                    • a symbol that stands for something that is distinct from the symbol
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-left:3em;padding-top:1em;padding-bottom:1em;text-indent:-2em;">
                <b>APPEARANCE-4:</b> <i>dieße Erscheinung</i><br />
                a “mere appearance” in the sense of Kant's <i>Critique of Pure Reason</i>
            </td>
        </tr>
    </table>
    </details>
</div>