@page "/"
@inject NavigationManager NavManager

<h1>Being and Time</h1>
<h2>Martin Heidegger</h2>
<h4>
    <a href="toc">Table of Contents</a>
</h4>
<p>
    Pages follow the <a href="/hb/hbbandt.html#BeingTime" target="_offapp">Macquarrie and Robinson</a> translation.
    Sentences that were split at the bottom of book pages are completed here for readibility.
</p>
<p>
    German <i>Sein und Zeit</i> pages are from Niemeyer 1967.
    They open in another tab so that both languages can be viewed side by side.
</p>
<p>
    Hover over Greek words to see glossary entry.
    The glossary is directly accesible here: <a href="https://www.beyng.com/btapp/pages/glossarywords.txt" target="_offapp">glossarywords.txt</a>.
</p>
<p>
    Paragraphs on some pages can be toggled to
    <a href="https://www.beyng.com/docs/Thomas%20Sheehan%20-%20BEING%20AND%20TIME%20-%20INTRODUCTION.pdf" target="_offapp">
    Thomas Sheehan's paraphrastic condensation</a>. 
    His notes appear under the <span style="color:magenta;" title="lozenge, diamond, rhombus">◊</span> symbol. 
    His translations of Heidegger's marginal notes, from <a href="/hb/gesamt.html#2" target="_offapp">GA 2</a>, 
    appear under the <span style="color:magenta;" title="manicule, pointing hand">☞</span> symbol.
    Hover over the symbols to see the notes.
    Paraphrasing appears through section 18 [October 14, 2019].<br />
    Added Section 74, from Tom's "<a href="https://www.academia.edu/24936041/HEIDEGGER_ON_HISTORICITY_AND_SCHICKSAL_IN_SEIN_UND_ZEIT_74">Heidegger on Historicity and Schicksal in Sein und Zeit §74</a>" [December 4, 2020].<br />
    Updated Section 7, from "<a href="https://www.academia.edu/79095632/BEING_AND_TIME_7_HEIDEGGER_ON_PHENOMENOLOGY">Being and Time § 7 - Heidegger on phenomenology</a>" [May 29, 2022]. 
    With the following outline and roster of appearances:
</p>
<Outline />
<Appearance />
<br />
<p>
    Tested with Firefox, Chrome, and Edge on Windows and Android. 
    If the app crashes in your browser, or back-button fails, reload this url: https://www.beyng.com/btapp/.
</p>
<p>
    Email corrections and suggestions to info at beyng.com.
</p>

<br />
<br />
<Banner />
@code {
    [Parameter]
    public int page { get; set; }
    
    #pragma warning disable 1998
    protected override async Task OnInitializedAsync()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("pg", out var _initial))
        {
            page = Convert.ToInt32(_initial);
        }
        if (page != 0)
        {
            Console.WriteLine($"Page {page}");
            NavManager.NavigateTo($"page/{page}");
        }
    }
    #pragma warning restore 1998
}
