@page "/"

<style type="text/css" media="screen">
p {
    text-indent: 0;
    margin-top: 10px;
}
</style>
<h1>Being and Time</h1>
<h2>Martin Heidegger</h2>
<h4>
    <a href="toc">Table of Contents</a>
</h4>
<p>
    Pages follow the <a href="/hb/hbbandt.html#BeingTime" target="_offapp">Macquarrie and Robinson</a> translation.
    Sentences that were split at the bottom of book pages are completed here for readibility.
</p>
<p>
    German <i>Sein und Zeit</i> pages are from Niemeyer 1967.
    They open in another tab so that both languages can be viewed side by side.
</p>
<p>
    Hover over Greek words to see glossary entry.
    The glossary is directly accesible here: <a href="https://www.beyng.com/btapp/pages/glossarywords.txt" target="_offapp">glossarywords.txt</a>.
</p>
<p>
    Paragraphs on some pages can be toggled to
    <a href="https://www.beyng.com/docs/Thomas%20Sheehan%20-%20BEING%20AND%20TIME%20-%20INTRODUCTION.pdf" target="_offapp">
    Thomas Sheehan's paraphrastic condensation</a>. 
    His notes appear under the <span style="color:magenta;" title="lozenge, diamond, rhombus">◊</span> symbol. 
    His translations of Heidegger's marginal notes, from <a href="/hb/gesamt.html#2" target="_offapp">GA 2</a>, 
    appear under the <span style="color:magenta;" title="manicule, pointing hand">☞</span> symbol.
    Hover over the symbols to see the notes.
    Paraphrasing appears through section 18 [October 14, 2019].
</p>
<p>
    Tested with Firefox, Chrome and Edge on Windows and Android. 
    When the app crashes, reload https://www.beyng.com/btapp/.
</p>
<p>
    Email corrections and suggestions to info at beyng.com.
</p>
<Banner />