@page "/"

<h1>Being and Time</h1>
<h2>Martin Heidegger</h2>

<p>Pages follow the <a href="/hb/hbbandt.html#BeingTime">Macquarrie and Robinson</a> translation. Sentences that are separated at th bottom of book pages are completed here.</p>

<p>German is from Niemeyer 1967.</p>
