@page "/"

<h1>Being and Time</h1>
<h2>Martin Heidegger</h2>

<p>
    <a href="toc">Table of Contents</a>
</p>

<p>
    Pages follow the <a href="/hb/hbbandt.html#BeingTime" target="_offapp">Macquarrie and Robinson</a> translation.
    Sentences that were split at the bottom of book pages are completed here for readibility.
</p>
<p>
    German <i>Sein und Zeit</i> pages are from Niemeyer 1967.
    They open in another tab so that both languages can be viewed side by side.
</p>
<p>
    Hover over Greek words to see glossary entry.
    The glossary is directly accesible here: <a href="https://www.beyng.com/btapp/pages/glossarywords.txt" target="_offapp">glossarywords.txt</a>.
</p>
<p>
    Paragraphs on each page can be toggled to <a href="https://www.academia.edu/39840481/HEIDEGGER_S_INTRODUCTION_TO_BEING_AND_TIME" target="_offapp">Thomas Sheehan's paraphrastic condensation</a>. 
</p>
<p>
    Tested with Chrome and Edge on Windows and Android. With the latest browsers, Chrome is processing WebAssembly web requests ten times faster than Edge.
</p>
<p>
    Email corrections to info at beyng.com.
</p>
