@page "/"

<h1>Being and Time</h1>
<h2>Martin Heidegger</h2>

<p>
    <a href="toc">Table of Contents</a>
</p>

<p>
    Pages follow the <a href="/hb/hbbandt.html#BeingTime" target="_offapp">Macquarrie and Robinson</a> translation.
    Sentences that were split at the bottom of book pages are completed here for readibility.
</p>
<p>
    German <i>Sein und Zeit</i> pages are from Niemeyer 1967.
    They open in another tab so that both languages can be viewed side by side.
</p>
<p>
    Hover over Greek words to see glossary entry.
    The glossary is directly accesible here: <a href="https://www.beyng.com/btapp/pages/glossarywords.txt" target="_offapp">glossarywords.txt</a>.
</p>
<p>
    Paragraphs on each page can be toggled to <a href="https://www.beyng.com/docs/Thomas%20Sheehan%20-%20BEING%20AND%20TIME%20-%20INTRODUCTION.pdf" target="_offapp">Thomas Sheehan's paraphrastic condensation</a>. 
</p>
<p>
    Tested with Chrome and Edge on Windows and Android. With the latest browsers, Chrome starts the app ten times faster than Edge, but once everything is loaded they're both pretty fast. When it crashes, just reload https://www.beyng.com/btapp/.
</p>
<p>
    Email corrections to info at beyng.com.
</p>
<br />
<br />
<br />
<br />
<br />
<span style="float:left">
  <img style="" src="https://beyng.com/images/BlackForestGnome.jpg" />
</span>
<div style="height:64px;color:bisque;background-color:black;line-height:64px">
  <span style="vertical-align:middle;display:inline-block"> &copy; 2019 - Black Forest Gnome</span>
</div>
