<div style="margin:2em;">
    <details>
        <summary>Outline of § 7</summary>
        <br />
        <p>INTRODUCTION</p>
        <p class="number">1. The theme of the book. and the question of method</p>
        <p class="number">2. Guided by the issues themselves</p>
        <p class="number">3. Phenomenology: a method rather than a subject matter</p>
        <p class="number">4. This section: only the preliminary concept of phenomenology.</p>
        <p class="number">5. Etymology of “phenomenology.” Division of § 7</p>
        <p>A. APPEARANCE: FOUR MEANINGS OF “PHENOMENON</p>
        <p class="sub">• Appearance-1 and appearance-2: a genuine phenomenon vs. a specious phenomenon</p>
        <p class="number">6. Appearance-1: a genuine phenomenon; appearance-2: a mere semblance</p>
        <p class="sub">• Appearance-3: an appearance that manifests something else that remains hidden</p>
        <p class="number">7. Appearance-3: that through which something else indirectly appears</p>
        <p class="number">8. Appearance-3 depends on (but is not) a genuine phenomenon.</p>
        <p class="number">9. Thus far: three possible meanings of “appearance.”</p>
        <p class="sub">• Appearance-4: Kant's “mere appearance” (<i>Erscheinungen</i>)</p>
        <p class="number">10. Phenomena as “mere appearances” in Kant</p>
        <p class="sub">• Further remarks</p>
        <p class="number">11. An appearance-3 can become an appearance-2, a mere semblance.</p>
        <p class="number">12. Summary: the four kinds of phenomena.</p>
        <p class="number">13. The phenomenological sense of phenomenon vs. the merely formal sense</p>
        <p class="number">14. A preview of what immediately follows</p>
        <p>B. <i>LOGOS</i> : ITS MEANING AND FIVE POSSIBLE FUNCTIONS</p>
        <p class="sub">• The basic meaning of <i>logos</i> and five of its possible functions</p>
        <p class="number">15. The many meanings of <i>logos</i></p>
        <p class="number">16. Function1: showing something in its meaning, whether correctly or not.</p>
        <p class="number">17. Function2: showing something in speech</p>
        <p class="number">18. Function3: synthesis and its declarative function</p>
        <p class="number">19. Function4: making sense of something as this or that</p>
        <p class="number">20. Function<sup>5</sup>: making a judgment</p>
        <p class="number">21. A <i>logos</i> as judgment can be either correct or incorrect</p>
        <p class="number">22. How the other meanings of <i>logos</i> came about</p>
        <p class="number">23. Conclusion</p>
        <p>C. THE PRELIMINARY CONCEPT OF PHENOMENOLOGY</p>
        <p class="sub">• The formal meanings of “phenomenon” and “phenomenology”</p>
        <p class="number">24. The formal meaning of “phenomenology”</p>
        <p class="number">25. Phenomenology: a descriptive method without a predetermined subject matter.</p>
        <p class="sub">• The non-formal, properly phenomenological meaning of “phenomenon”</p>
        <p class="number">26. A phenomenon in the phenomenological sense</p>
        <p class="number">27. Three ways the being (= significance) of something can be “hidden”</p>
        <p class="number">28. A phenomenological ontology</p>
        <p class="sub">• Phenomena can be covered over</p>
        <p class="number">29. Being is usually “hidden,” i.e., not immediately evident</p>
        <p class="number">30. Three ways a phenomenon can be “hidden”</p>
        <p class="number">31. Necessary and accidental forms of “hiddenness”</p>
        <p class="number">32. We cannot just “take a look” at being but must pull it out of things</p>
        <p class="sub">• Concluding remarks</p>
        <p class="number">33. Definitions of “phenomenal” and “phenomenological”</p>
        <p class="number">34. We begin with ourselves because we alone understand significance.</p>
        <p class="number">35. The content is ontology; the method is hermeneutics</p>
        <p class="number">36. Two forms of “transcendental”</p>
        <p class="number">37. Phenomenological ontology begins and ends with ex-sistence.</p>
        <p class="number">38. Re Husserl: possibility is higher than actuality</p>
        <p class="number">39. The language of SZ</p>
</details>
</div>