@page "/toc"

<h1 style="text-align:center">Table of Contents</h1>

<br />
<h2 style="text-align:center">CONTENTS</h2>
<br />
<h3 style="text-align:center"><a href="page/19">Preface</a></h3>
<br />
<br />
<p style="text-align:center"><i>Introduction</i></p>
<table style="width:100%">
    <tr>
        <td></td>
        <td>SuZ</td>
        <td>BaT</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            Exposition of the Question of the Meaning of Being
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.002.html" target="_de">2</a></td>
        <td style="text-align:right"><a href="page/21">21</a></td>
    </tr>
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            I. THE NECESSITY, STRUCTURE, AND PRIORITY OF THE QUESTION OF BEING
        </td>
        <td style="text-align:right">2</td>
        <td style="text-align:right">21</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            1. The necessity for explicitly restating the question of Being
        </td>
        <td style="text-align:right">2</td>
        <td style="text-align:right">21</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            2. The formal structure of the question of Being
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.005.html" target="_de">5</a></td>
        <td style="text-align:right"><a href="page/24">24</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            3. The ontological priority of the question of Being
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.008.html" target="_de">8</a></td>
        <td style="text-align:right"><a href="page/28">28</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">4. The ontical priority of the question of Being</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.011.html" target="_de">11</a></td>
        <td style="text-align:right"><a href="page/32">32</a></td>
    </tr>
    <tr><td style="padding-left:2em;text-indent:-1em;">
        II. THE TWOFOLD TASK IN WORKING OUT THE QUESTION OF BEING.
        METHOD AND DESIGN OF OUR INVESTIGATION
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.015.html" target="_de">15</a></td>
        <td style="text-align:right"><a href="page/36">36</a></td></tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            5. The ontological analytic of Dasein as laying bare the horizon for an Interpretation of the meaning of Being in general
        </td>
        <td style="text-align:right">15</td>
        <td style="text-align:right">36</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">6. The task of Destroying the history of ontology</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.019.html" target="_de">19</a></td>
        <td style="text-align:right"><a href="page/41">41</a></td></tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">7. The phenomenological method of investigation</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.027.html" target="_de">27</a></td>
        <td style="text-align:right"><a href="page/49">49</a></td></tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">A. The concept of phenomenon</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.028.html" target="_de">28</a></td>
        <td style="text-align:right"><a href="page/51">51</a></td></tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">B. The concept of the logos</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.032.html" target="_de">32</a></td>
        <td style="text-align:right"><a href="page/55">55</a></td></tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">C. The preliminary conception of phenomenology</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.034.html" target="_de">34</a></td>
        <td style="text-align:right"><a href="page/58">58</a></td></tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">8. Design of the treatise</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.039.html" target="_de">39</a></td>
        <td style="text-align:right"><a href="page/63">63</a></td></tr>
</table>
<br />
<p style="text-align:center"><i>Part One</i></p>
<p style="text-align:center">
    The Interpretation of Dasein in Terms of Temporality, and the
    Explication of Time as the Transcendental Horizon for the
    Question of Being
</p>
<p>
    <i>
        DIVISION ONE : PREPARATORY FUNDAMENTAL ANALYSIS OF DASEIN
    </i>
</p>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            I. EXPOSITION OF THE TASK OF A PREPARATORY ANALYSIS OF DASEIN
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.041.html" target="_de">41</a></td>
        <td style="text-align:right"><a href="page/67">67</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            9. The theme of the analytic of Dasein
        </td>
        <td style="text-align:right">41</td>
        <td style="text-align:right">67</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            1O. How the analytic of Dasein is to be distinguished
            from anthropology, psychology, and biology
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.045.html" target="_de">45</a></td>
        </td><td style="text-align:right"><a href="page/71">71</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            11. The existential analytic and the Interpretation of
            primitive Dasein. The difficulties of achieving a
            'natural conception of the world'
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.050.html" target="_de">50</a></td>
        <td style="text-align:right"><a href="page/76">76</a></td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            II. BEING-IN-THE-WORLD IN GENERAL AS THE BASIC STATE OF DASEIN
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.052.html" target="_de">52</a></td>
        <td style="text-align:right"><a href="page/78">78</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            12. A preliminary sketch of Being-in-the-world, in terms of an orientation towards Being-in as such</td>
        <td style="text-align:right">52</td>
        <td style="text-align:right">78</td>
        </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
        13. A founded mode in which Being-in is exemplified.
        Knowing the world
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.059.html" target="_de">59</a></td>
        <td style="text-align:right"><a href="page/86">86</a></td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            III. THE WORLDHOOD OF THE WORLD
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.063.html" target="_de">63</a></td>
        <td style="text-align:right"><a href="page/91">91</a></td>
    </tr>
    <tr><td style="padding-left:3em;text-indent:-1em;">
        14. The idea of the worldhood of the world in general</td>
        <td style="text-align:right">63</td>
    <td style="text-align:right">91</td></tr>
    <tr><td style="padding-left:4em;text-indent:-1em;">
        A. <i>Analysis of environmentality and worldhood in general</i></td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.066.html" target="_de">66</a></td>
    <td style="text-align:right"><a href="page/95">95</a></td></tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            15. The Being of the entities encountered in the environment
        </td>
        <td style="text-align:right">66</td>
        <td style="text-align:right">95</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            16. How the worldly character of the environment announces itself in entities within-the-world
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.072.html" target="_de">72</a></td>
        <td style="text-align:right"><a href="page/102">102</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            17. Reference and signs
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.076.html" target="_de">76</a></td>
        <td style="text-align:right"><a href="page/107">107</a></td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            18. Involvement and significance: the worldhood of the world
            </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.083.html" target="_de">83</a></td>
        <td style="text-align:right"><a href="page/114">114</a></td></tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            B. <i>A contrast between our analysis of worldhood and Descartes' Interpretation of the world</i>
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.089.html" target="_de">89</a></td>
        <td style="text-align:right">122</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            19. The definition of the 'world' as <i>res extensa</i>
        </td>
        <td style="text-align:right">89</td>
        <td style="text-align:right">123</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            20. Foundations of the ontological definition of the 'world'
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.092.html" target="_de">92</a></td>
        <td style="text-align:right">125</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            21. Hermeneutical discussion of the Cartesian ontology of the 'world'
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.095.html" target="_de">95</a></td>
        <td style="text-align:right">128</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            C. <i>The aroundness of the environment, and Dasein's spatiality</i>
        </td>
        <td style="text-align:right">101</td>
        <td style="text-align:right">134</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            22. The spatiality of the ready-to-hand within-the-world
        </td>
        <td style="text-align:right">102</td>
        <td style="text-align:right">135</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">23. The spatiality of Being-in-the-world</td>
        <td style="text-align:right">104</td>
        <td style="text-align:right">138</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            24. Space, and Dasein's spatiality
        </td>
        <td style="text-align:right">110</td>
        <td style="text-align:right">145</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            IV. BEING-IN-THE-WORLD AS BEING-WITH AND BEING-ONE'S-SELF. THE 'THEY'
        </td>
        <td style="text-align:right">113</td>
        <td style="text-align:right">149</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
        25. An approach to the existential question of the
        "who" of Dasein
        </td>
        <td style="text-align:right">114</td>
        <td style="text-align:right">150</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
        26. The Dasein-with of Others, and everyday Being-with
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.117.html" target="_de">117</a></td>
        <td style="text-align:right">153</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
        27. Everyday Being-one's-Self and the "they"
        </td>
        <td style="text-align:right">126</td>
        <td style="text-align:right">163</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            V. BEING-IN AS SUCH
        </td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">28. The task of a thematic analysis of Being-in</td>
        <td style="text-align:right">130</td>
        <td style="text-align:right"><a href="page/169">169</a></td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">A. <i>The existential Constitution of the "there"</i></td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.134.html" target="_de">134</a></td>
        <td style="text-align:right">172</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            29. Being-there as state-of-mind
        </td>
        <td style="text-align:right">134</td>
        <td style="text-align:right">172</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            30. Fear as a mode of state-of-mind
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.140.html" target="_de">140</a></td>
        <td style="text-align:right">179</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            31. Being-there as understanding
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.142.html" target="_de">142</a></td>
        <td style="text-align:right">182</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">32. Understanding and interpretation</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.148.html" target="_de">148</a></td>
        <td style="text-align:right">182</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            33. Assertion as a derivative mode of interpretation
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.153.html" target="_de">153</a></td>
        <td style="text-align:right">195</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            34. Being-there and discourse. Language
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.160.html" target="_de">160</a></td>
        <td style="text-align:right">203</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            B. <i>The everyday Being of the "there" and the falling of Dasein</i>
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.166.html" target="_de">166</a></td>
        <td style="text-align:right">210</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            35. Idle talk
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.167.html" target="_de">167</a></td>
        <td style="text-align:right">211</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            36. Curiosity
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.170.html" target="_de">170</a></td>
        <td style="text-align:right">214</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            37. Ambiguity
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.173.html" target="_de">173</a></td>
        <td style="text-align:right">217</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            38. Falling and thrownness
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.175.html" target="_de">175</a></td>
        <td style="text-align:right">219</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            VI. CARE AS THE BEING OF DASEIN
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.180.html" target="_de">180</a></td>
        <td style="text-align:right">225</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            39. The question of the primordial totality of Dasein's structural whole
        </td>
        <td style="text-align:right">180</td>
        <td style="text-align:right">225</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            40. The basic state-of-mind of anxiety as a distinctive way in which Dasein is disclosed
        </td>
        <td style="text-align:right">184</td>
        <td style="text-align:right">228</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            41. Dasein's Being as care
        </td>
        <td style="text-align:right">191</td>
        <td style="text-align:right">235</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            42. Confirmation of the existential Interpretation of Dasein as care in terms of Dasein's pre-ontological way of interpreting itself
        </td>
        <td style="text-align:right">196</td>
        <td style="text-align:right">241</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            43. Dasein, worldhood, and Reality
        </td>
        <td style="text-align:right">200</td>
        <td style="text-align:right">244</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(a)</i> Reality as a problem of Being, and whether the 'external world' can be proved
        </td>
        <td style="text-align:right">202</td>
        <td style="text-align:right">246</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(b)</i> Reality as an ontological problem
        </td>
        <td style="text-align:right">209</td>
        <td style="text-align:right">252</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(c)</i> Reality and care
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.211.html" target="_de">211</a></td>
        <td style="text-align:right">254</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            44. Dasein, disclosedness, and truth
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.212.html" target="_de">212</a></td>
        <td style="text-align:right">256</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(a)</i> The traditional conception of truth, and its ontological foundations</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.214.html" target="_de">214</a></td>
        <td style="text-align:right">257</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(b)</i> The primordial phenomenon of truth and the derivative character of the traditional conception of truth</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.219.html" target="_de">219</a></td>
        <td style="text-align:right">262</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(c)</i> The kind of Being which truth possesses, and the presupposition of truth</td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.226.html" target="_de">226</a></td>
        <td style="text-align:right">269</td>
    </tr>
</table>
<br />
<p>
    <i>
        DIVISION TWO: DASEIN AND TEMPORALITY
    </i>
</p>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            45. The outcome of the preparatory fundamental analysis of Dasein, and the task of a primordial existential Interpretation of this entity
        </td>
        <td style="text-align:right">231</td>
        <td style="text-align:right">274</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            I. DASEIN'S POSSIBILITY OF BEING-A-WHOLE, AND BEING-TOWARDS-DEATH
        </td>
        <td style="text-align:right">235</td>
        <td style="text-align:right">279</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            46. The seeming impossibility of getting Dasein's Being-a-whole into our grasp ontologically and determining its character
        </td>
        <td style="text-align:right">235</td>
        <td style="text-align:right">279</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            47. The possibility of experiencing the death of Others, and the possibility of getting a whole Dasein into our grasp
        </td>
        <td style="text-align:right">237</td>
        <td style="text-align:right">281</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            48. That which is still outstanding; the end; totality
        </td>
        <td style="text-align:right">241</td>
        <td style="text-align:right">285</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            49. How the existential analysis of death is distinguished from other possible Interpretations of this phenomenon
        </td>
        <td style="text-align:right">246</td>
        <td style="text-align:right">290</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            50. Preliminary sketch of the existential-ontological structure of death
        </td>
        <td style="text-align:right">249</td>
        <td style="text-align:right">293</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            51. Being-towards-death and the everydayness of Dasein
        </td>
        <td style="text-align:right">252</td>
        <td style="text-align:right">296</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            52. Everyday Being-towards-the-end, and the full existential conception of death
        </td>
        <td style="text-align:right">255</td>
        <td style="text-align:right">299</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            53. Existential projection of an authentic Being-towards-death
        </td>
        <td style="text-align:right">260</td>
        <td style="text-align:right">304</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            II. DASEIN'S ATTESTATION OF AN AUTHENTIC POTENTIALITY-FOR-BEING, AND RESOLUTENESS
        </td>
        <td style="text-align:right">267</td>
        <td style="text-align:right">312</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            54. The problem of how an authentic existentiell possibility is attested
        </td>
        <td style="text-align:right">267</td>
        <td style="text-align:right">312</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            55. The existential-ontological foundations of conscience
        </td>
        <td style="text-align:right">270</td>
        <td style="text-align:right">315</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            56. The character of conscience as a call
        </td>
        <td style="text-align:right">272</td>
        <td style="text-align:right">317</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            57. Conscience as the call of care
        </td>
        <td style="text-align:right">274</td>
        <td style="text-align:right">319</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            58. Understanding the appeal, and guilt
        </td>
        <td style="text-align:right">280</td>
        <td style="text-align:right">325</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            59. The existential Interpretation of the conscience, and the way conscience is ordinarily interpreted
        </td>
        <td style="text-align:right">289</td>
        <td style="text-align:right">335</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            60. The existential structure of the authentic potentiality-for-Being which is attested in the conscience
        </td>
        <td style="text-align:right">295</td>
        <td style="text-align:right">341</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            III. AUTHENTIC POTENTIALITY-FOR-BEING-A-WHOLE, AND TEMPORALITY AS THE ONTOLOGICAL MEANING OF CARE
        </td>
        <td style="text-align:right">301</td>
        <td style="text-align:right">349</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            61. A preliminary sketch of the methodological step from the definition of Dasein's authentic Being-a-whole to the laying-bare of temporality as a phenomenon
        </td>
        <td style="text-align:right">301</td>
        <td style="text-align:right">349</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            62. Anticipatory resoluteness as the way in which Dasein's potentiality-for-Being-a-whole has existentiell authenticity
        </td>
        <td style="text-align:right">305</td>
        <td style="text-align:right">352</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            63. The hermeneutical situation at which we have arrived for Interpreting the meaning of the Being of care; and the methodological character of the existential analytic in general
        </td>
        <td style="text-align:right">310</td>
        <td style="text-align:right">358</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            64. Care and selfhood
        </td>
        <td style="text-align:right">316</td>
        <td style="text-align:right">364</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            65. Temporality as the ontological meaning of care
        </td>
        <td style="text-align:right">323</td>
        <td style="text-align:right">370</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            66. Dasein's temporality and the tasks arising there-from of repeating the existential analysis in a more primordial manner
        </td>
        <td style="text-align:right">331</td>
        <td style="text-align:right">380</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            IV. TEMPORALITY AND EVERY DAYNESS
        </td>
        <td style="text-align:right">334</td>
        <td style="text-align:right">383</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            67. The basic content of Dasein's existential constitution, and a preliminary sketch of the temporal Interpretation of it
        </td>
        <td style="text-align:right">334</td>
        <td style="text-align:right">383</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            68. The temporality of disclosedness in general
        </td>
        <td style="text-align:right">335</td>
        <td style="text-align:right">384</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(a)</i> The temporality of understanding
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.336.html" target="_de">336</a></td>
        <td style="text-align:right">385</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(b)</i> The temporality of state-of-mind
        </td>
        <td style="text-align:right">339</td>
        <td style="text-align:right">389</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(c)</i> The temporality of falling
        </td>
        <td style="text-align:right">346</td>
        <td style="text-align:right">396</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(d)</i> The temporality of discourse
        </td>
        <td style="text-align:right">349</td>
        <td style="text-align:right">400</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            69. The temporality of Being-in-the-world and the problem of the transcendence of the world
        </td>
        <td style="text-align:right">350</td>
        <td style="text-align:right">401</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(a)</i> The temporality of circumspective concern</td>
        <td style="text-align:right">352</td>
        <td style="text-align:right">403</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(b)</i> The temporal meaning of the way in which circumspective concern becomes modified into the theoretical discovery of the present-at-hand within-the-world
        </td>
        <td style="text-align:right">336</td>
        <td style="text-align:right">408</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(c)</i> The temporal problem of the transcendence of the world</td>
        <td style="text-align:right">364</td>
        <td style="text-align:right">415</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            70. The temporality of the spatiality that is characteristic of Dasein
        </td>
        <td style="text-align:right">367</td>
        <td style="text-align:right">418</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            71. The temporal meaning of Dasein's everydayness
        </td>
        <td style="text-align:right">370</td>
        <td style="text-align:right">421</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            V. TEMPORALITY AND HISTORICALITY
        </td>
        <td style="text-align:right">372</td>
        <td style="text-align:right">424</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            72. Existential-ontological exposition of the problem of history
        </td>
        <td style="text-align:right">372</td>
        <td style="text-align:right">424</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            73. The ordinary understanding of history, and Dasein's historizing
        </td>
        <td style="text-align:right">378</td>
        <td style="text-align:right">429</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            74. The basic constitution of historicality
        </td>
        <td style="text-align:right">382</td>
        <td style="text-align:right">434</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            75. Dasein's historicality, and world-history
        </td>
        <td style="text-align:right">387</td>
        <td style="text-align:right">439</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            76. The existential source of historiology in Dasein's historicality
        </td>
        <td style="text-align:right">392</td>
        <td style="text-align:right">444</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            77. The connection of the foregoing exposition of the problem of historicality with the researches of Wilhelm Dilthey and the ideas of Count Yorck
        </td>
        <td style="text-align:right">397</td>
        <td style="text-align:right">449</td>
    </tr>
</table>
<br />
<table style="width:100%">
    <tr>
        <td style="padding-left:2em;text-indent:-1em;">
            VI. TEMPORALITY AND WITHIN-TIME-NESS AS THE SOURCE OF THE ORDINARY CONCEPTION OF TIME
        </td>
        <td style="text-align:right">404</td>
        <td style="text-align:right">456</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            78. The incompleteness of the foregoing temporal analysis of Dasein
        </td>
        <td style="text-align:right">404</td>
        <td style="text-align:right">456</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            79. Dasein's temporality, and our concern with time
        </td>
        <td style="text-align:right">406</td>
        <td style="text-align:right">458</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            80. The time with which we concern ourselves, and within-time-ness
        </td>
        <td style="text-align:right"><a href="/pages/de/SeinUndZeit/SeinUndZeit.411.html" target="_de">411</a></td>
        <td style="text-align:right">464</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            81. Within-time-ness and the genesis of the ordinary conception of time
        </td>
        <td style="text-align:right">420</td>
        <td style="text-align:right">472</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            82. A comparison of the existential-ontological connection of temporality, Dasein, and worldtime, with Hegel's way of taking the relation between time and spirit
        </td>
        <td style="text-align:right">428</td>
        <td style="text-align:right">480</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(a)</i> Hegel's conception of time
        </td>
        <td style="text-align:right">428</td>
        <td style="text-align:right">480</td>
    </tr>
    <tr>
        <td style="padding-left:4em;text-indent:-1em;">
            <i>(b)</i> Hegel's Interpretation of the connection between time and spirit
        </td>
        <td style="text-align:right">433</td>
        <td style="text-align:right">484</td>
    </tr>
    <tr>
        <td style="padding-left:3em;text-indent:-1em;">
            83. The existential-temporal analytic of Dasein, and the question of fundamental ontology as to the meaning of Being in general
        </td>
        <td style="text-align:right">436</td>
        <td style="text-align:right">486</td>
    </tr>
</table>
